* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif
}

.about-section
{
    padding: 100px 20px;
    height: 80vh;
}

.about-grid
{
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.about-image
{
    width: 30%;
}
.about-content
{
    padding: 0px 20px 0 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-content h2
{
    font-size: 50px;
    text-decoration: bold; 
}

.about-content .lead
{
    
    font-size: 30px;
    color: #333;
    line-height: 1.6;

}

.about-content p
{
    font-size: 20px;
    color: #555;
}
    